<div class="home">
  <h1 class="title">Welcome to some game web application</h1>
  <p class="description">
    Something about me producing a game in ThreeJS, while had never did that, but having over 10 years of experience in industry mainly doing web apps.
  </p>
  
  <div class="logos">
    <a href="https://angular.io/" target="_blank">
      <img src="assets/angular_whiteTransparent.svg" height="100">
    </a>
    <a href="https://phaser.io/" target="_blank">
      <img src="assets/Phaser-Logo-Small.png" height="100">
    </a>
    <a href="https://openai.com/" target="_blank">
      <img src="assets/chatGpt.png" height="100">
    </a>
  </div>
</div>
