<div class="home">
  <h1 class="title">Welcome to some game web application</h1>
  <p class="description">
    Some description of the game produced in ThreeJS in environment of Angular and NgRx application. NodeJS backend build with NestJS and MongoDB.
  </p>
  
  <div class="logos">
    <a class="angular anim-sparks" (click)="handleExternalLibClicked('angular')" [ngClass]="{ 'animate': animateClass === 'angular' }" title="angular">
      <img src="assets/angular_whiteTransparent.svg" height="100">
    </a>
    <a class="ngrx anim-sparks" (click)="handleExternalLibClicked('ngrx')" [ngClass]="{ 'animate': animateClass === 'ngrx' }">
      <img src="assets/ngrx.svg" height="100">
    </a>
    <a class="threejs anim-sparks" (click)="handleExternalLibClicked('threejs')" [ngClass]="{ 'animate': animateClass === 'threejs' }" title="threejs">
      <img src="assets/threejs-logo.png" height="100">
    </a>
    <a class="nestjs anim-sparks" (click)="handleExternalLibClicked('nestjs')" [ngClass]="{ 'animate': animateClass === 'nestjs' }" title="nestjs">
      <img src="assets/nestjs-icon.svg" height="100">
    </a>
    <a class="mongodb anim-sparks" (click)="handleExternalLibClicked('mongodb')" [ngClass]="{ 'animate': animateClass === 'mongodb' }" title="mongodb">
      <img src="assets/mongodb-ar21.svg" height="100">
    </a>
  </div>
</div>
